NODE_ENV=
PORT=
HOST=
CORS_ORIGIN=

DATABASE_URL=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

DEFAULT_USER_AVATAR_URL=
EXPIRES_IN_ACCESS_TOKEN=
JWT_SECRET_ACCESS_TOKEN=
EXPIRES_IN_REFRESH_TOKEN=
JWT_SECRET_REFRESH_TOKEN=

MAIL_HOST=
MAIL_PORT=
EMAIL_USER=
EMAIL_PASS=
MAIL_SENDER_ADDRESS=
MAIL_SENDER_NAME=
